{{define "footer"}}
<footer class="border-top mt-5 py-3 text-center text-muted">
  <div class="container">
    <p class="mb-0">&copy; 2025 Empreendedor.dev - Desenvolvido com Go e Bootstrap</p>
  </div>
</footer>
{{end}}

