{{define "footer"}}
<footer class="border-top mt-5 py-3 text-center text-muted">
  <div class="container">
    <p class="mb-0">&copy; 2025 Empreendedor.dev - CRG 
<a href="https://crg.eti.br" target="_blank">
    crg.eti.br
</a>
    </p>
  </div>
</footer>
{{end}}

