{{define "head"}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000000" />
<meta name="description" content=".Config.SiteDescription" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes">
<meta
  name="apple-mobile-web-app-status-bar-style"
  content="black-translucent"
/>
<link
  rel="icon"
  type="image/png"
  href="/assets/favicon-96x96.png"
  sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/apple-touch-icon.png"
/>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?v={{ .Config.GitTag }}" />
<link rel="stylesheet" href="/assets/style.css?v={{ .Config.GitTag }}" />
<script src="/assets/htmx.min.js?v={{ .Config.GitTag }}"></script>
<title>{{ .Config.SiteTitle }}</title>
{{end}}
