{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">empreendedor.dev</a>
    <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {{if .Authed}}
          <!-- File Manager Link -->
          <li class="nav-item">
              <a class="nav-link" href="/files">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
  <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
</svg> Arquivos</a>
          </li>
          <!-- Forum Link -->
            <li class="nav-item">
                <a class="nav-link" href="/forum">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                        <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        <path d="M2.678 11.894a1 1 0 0 1 .287.801l-.003.008c-.097.386-.26.752-.479 1.092C1.789 14.176 1.524 14.5 1.2 14.5c-.232 0-.465-.07-.666-.21a1 1 0 0 1-.287-1.4c.197-.29.36-.61.486-.95.12-.31.203-.65.248-1.01l.004-.03c.03-.206.09-.39.18-.55a1 1 0 0 1 1.426-.364zM15 8a7 7 0 1 0-14 0A7 7 0 0 0 15 8zm-1 0a6 6 0 1 1-12 0A6 6 0 0 1 14 8z"/>
                    </svg> Fórum</a>
            </li>
          <!-- User Menu Dropdown -->
          {{template "user_menu" .}}
       {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        {{end}}
      </ul>
    </div>
  </div>
</nav>
{{end}}

