{{- define "app_test.go.tmpl" }}
<h1>Template da Aplicação empreendedor.dev</h1>
<p>Este é um template de teste para verificar se o sistema de carregamento de templates está funcionando corretamente.</p>
<p>Data: {{ .Date }}</p>
{{- end }}
