<!doctype html>
<html lang="pt-BR" data-bs-theme="dark">
  <head>
        {{template "head" .}}
  </head>

  <body>
      {{if .User.Login}}
        <img src="{{.User.AvatarURL}}" alt="Avatar do usuário" />
        <h2>
          Bem-vindo, {{if .User.Name}}
                        {{.User.Name}}
                    {{else}}
                        {{.User.Login}}
                    {{end}}!
        </h2>
        <strong>ID:</strong> {{.User.ID}}
          <strong>Login:</strong> {{.User.Login}}
        <a href="/logout" rel="nofollow">Sair</a>
      {{else}}
          <p>Teste de pagina inicial.</p>
          <a href="/login" rel="nofollow">Ir para login</a>
      {{end}}
    
      <footer>
          {{template "footer" .}}
      </footer>
      {{template "scripts" .}}
  </body>
</html>

